.speakers
  h3.speakers__title Speakers:
  .speakers__content 
    .slider-container 
      a.arrow#left <
      .slider
        ul.slider__list#items
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
          li.slider__item
            .slider__img
              img(src=require("../../img/content/speaker.png"), alt="speaker").slider__pic
            .slider__subtitle
              .speaker__name
                p.speaker__rank PhD
                p John Herts
              p.speaker__position Molecular surgery
      a.arrow#right >
    .slider__apply
      p.apply__text Become a speaker
      button.apply__btn Apply now
       
        